    <div class="left_sidebar">
        <div class="logo" title="{{ SITENAME }}">
            <a href="{{ SITEURL }}">
                <img class="profile_picture" src="{{ PROFILE_PICTURE }}" />
            </a>
        </div   >
        <span class="site_name">{{ SITENAME }}</span>
        <div class="dotted_divider"> </div>
        <span class="description">{{ SITESUBTITLE }}</span>
        <div class="dotted_divider"> </div>

        <div class="nav_container">
            <nav>
                <ul>
                    <li><a href="{{ SITEURL }}/">HOME</a></li>
                    {% for cat, null in categories %}
                    <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat|upper }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="dotted_divider"> </div>
        <div class="links">
            <ul>
            {% for link in LINKS %}
                <li>
                    <a href="{{ link.href }}">
                        <i class="fa {{ link.icon }}"></i><span>{{ link.name }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
