{% extends "base.html" %}
{% block content %}
    <div class="page_title">
        <h1>{% block page_title %}LATEST POSTS{% endblock page_title %}</h1>
        <div class="color_bar color_1"> </div>
    </div>
    <br />
    {% if articles %}
    <div class="article_list">
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <article>
            <h2>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h2>
            <div class="article_meta">
                <span><i class="fa fa-clock-o"></i> {{ article.date.strftime('%m/%d/%Y') }}</span>
                <span><i class="fa fa-user"></i> Posted by {{ article.author }}</span>
                <span><i class="fa fa-bookmark"></i> {{ article.category }}</span>
                <!-- <span><i class="fa fa-comments"></i>0 comments</span> -->
            </div>
            <div class="article_decoration cf">
                <div class="color_1"></div>
                <div class="color_2"></div>
                <div class="color_3"></div>
            </div>
            <div class="summary clearfix">
                <p>{{ article.summary }}</p>
                <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">Read More...</a>
            </div>
        </article>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'includes/pagination.html' %}
{% endblock content %}